header {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;

}

.logo {
    color: white;
    letter-spacing: 4.5px;
    font-size: 30px;
}



.light {
    background-image: url(/src/assets/bg-mobile-light.jpg);
}

.dark {
    background-image: url(/src/assets/bg-mobile-dark.jpg);


}

/* responsive */

@media (min-width:580px) {
    main {
        padding: 0;
    }
}

@media (min-width: 768px) {
    header {
        padding: 70px 24px 24px 24px;
        height: 300px;

    }

    main {
        bottom: 124px;
    }

    p {
        font-size: 18px;

    }

    .logo {
        font-size: 40px;
        letter-spacing: 15px;
    }

    .addInput {
        padding: 19px 24px;
        gap: 24px;

    }

    .addInput input {
        font-size: 18px;
    }

    .light {
        background-image: url(/src/assets/bg-desktop-light.jpg);
    }

    .dark {
        background-image: url(/src/assets/bg-desktop-dark.jpg);


    }

    #box {
        height: 17px;
        width: 17px;
    }

    #box::before {
        height: 24px;
        width: 24px;
        top: -5px;
        left: -5px;

    }

    #box::after {
        height: 26px;
        width: 26px;
        top: -5px;
        left: -5px;

    }

    #box:hover::before {
        border: 1px solid pink;
        height: 24px;
        width: 24px;

    }

    .funcional {
        justify-content: center;
        gap: 20px;
        border-radius: 5px;
        padding: 13px 20px 13px 20px;
        width: 200px;
        margin: auto;
        margin-top: -50px;
        position: relative;
        right: 20px;
    }

    .list {
        gap: 24px;
        padding: 12px 0;
    }

    .list p {
        height: 40px;
    }

    .lists {
        padding: 0px 24px;
    }
}