* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.167px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  background-color: #fafafa !important;
}

.dark {
  background-color: #171823 !important;
}

main {
  position: relative;
  bottom: 100px;
  width: 100%;
  max-width: 550px;
  padding: 0 24px;
}

main,
nav {
  max-width: 550px;
}

.addInput {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
  padding: 4px 20px;
  margin-bottom: 1rem;
}

.addInput input[type='text'] {
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  background-color: transparent;
}

#box {
  position: relative;
  height: 15px;
  width: 15px;
  z-index: 0;
  border-radius: 50%;
}

#box::before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #D1D2DA;
  background-color: inherit;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 3;
}

#box::after {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  left: -3px;
  top: -3px;
  display: none;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #C058F3, #55DDFF);
  position: absolute;
  z-index: 5;

}

#box:checked::after {
  display: flex;
  content: url(./assets/icon-check.svg);
}

#box:checked+p {
  text-decoration: line-through;
  color: #4D5067 !important;
}


.lists {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

.list {
  display: flex;
  /* justify-content: space-between; */
  padding: 4px 0;
  border-radius: 5px 5px 0 0px;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.line {
  height: 1px;
  width: 110.6%;
}

.list p {
  width: 80%;
  display: flex;
  height: 40px;
  align-items: center;

}

.delete {
  opacity: 0;
  cursor: pointer;
}

.list:hover .delete {
  opacity: 1;
}

.itemsleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0px 16px 0px;
}

.itemsleft p {
  cursor: pointer;
}

/* .itemsleft p:active {
  color: blue;
} */

.funcional {
  justify-content: center;
  gap: 20px;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 16px 20px 16px 20px;

}

.btncheck {
  color: #3A7CFD;

}